
$primary:    teal;
$secondary:  rgb(0, 64, 64);
$success:    #3f9464;
$info:       black;
$warning:    #bc842c;
$danger:     #f44336;
$light:      red;
$dark:       rgb(128, 0, 0);


body {
    background-color: #FFFFFF; 
  }


.navbar-custom {
    background-color: #FCB16B; 
  }

.edit-checkbox {
  margin-left: 10px !important;
  height: 25px;
  width: 25px;
  position: relative !important;
  top: 6px;
}

.add-checkbox {
  margin-left: 10px !important;
  height: 25px;
  width: 25px;
  position: relative !important;
  top: 7.5px !important;
  }
   

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';