#root {
  margin: auto;
  margin-top: 4em;
  padding: 0 2rem;
  text-align: center;
  vertical-align: top;
}

#admin {
  position: fixed;
  top: 5rem;
  right: 10%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  min-width: fit-content;
  padding: auto;
  margin: auto;
}

.contcontainer {
  background-color: #FFFFFF !important;
  padding: 2em;
  min-height: 100vh;
  min-width: 75vw
}

.left-aligned-list {
  text-align: left;
  padding: 0;
  margin: 0;
}

.left-aligned-list li {
  margin-left: 1em;
  vertical-align: top;
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
