.container {
  width: 100%
}


/* COLOUR FOR CHANGING NAVBAR */
/* .navbar-custom {
  background-color: #FCB16B; 
} */

.custom-logo {
  background-color: #ffffff;
  margin-left: 1rem;
  border-radius: 10px;
}